CONFIG_MFD_SYSCON=y

CONFIG_ASPEED_KCS_IPMI_BMC=m
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=m

# Selected automatically by ASPEED_KCS_IPMI_BMC.
CONFIG_IPMI_KCS_BMC=m

# Enable only if a serio consumer is intentionally used instead of IPMI cdev.
# CONFIG_IPMI_KCS_BMC_SERIO is not set

# For Nuvoton NPCM platforms use this controller instead.
# CONFIG_NPCM7XX_KCS_IPMI_BMC is not set

